<!--
# <form action="/users" method="post" accept-charset="UTF-8">
#   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
#   <label for="username">Username:</label>
#   <input type="text" id="username" name="user[username]"><br /><br />
#   <label for="email">Email:</label>
#   <input type="text" id="email" name="user[email]"><br /><br />
#   <label for="password">Password:</label>
#   <input type="password" id="password" name="user[password]"><br /><br />
#  <input type="submit" value="Submit">
# </form>
-->

<!--
#<%= form_tag("/users", method: "post") do %>
#  <%= label_tag(:username, "Username:") %>
#  <%= text_field_tag(:username) %>
#  <br /><br />
#  <%= label_tag(:email, "Email") %>
#  <%= text_field_tag(:email) %>
#  <br /><br />
#  <%= label_tag(:password, "Password") %>
#  <%= password_field_tag(:password) %>
#  <br /><br />
#  <%= submit_tag "Submit" %>
#<% end %>
-->
<div class='container'>
<%= form_with model: @user do |form| %>
  <%= form.label :username, "Username:" %>
  <br />
  <%= form.text_field :username, placeholder: "Enter Name"%>
  <br /><br />
  <%= form.label :email, "Email:" %>
  <br />
  <%= form.text_field :email, placeholder: "Enter Email"%>
  <br /><br />
  <%= form.label :password, "Password:" %>
  <br />
  <%= form.text_field :password, placeholder: "Enter Password"%>
  <br /><br />
  <%= form.submit "Submit", class: "submit" %>
<% end %>
</div>

<style>
  body{
    display: grid;
    place-items: center;
    height: 100vh;
  }
 .container{
   height: 50vh;
   width: 50vw;
   display: flex;
   padding: 30px;
   align-items: center;
   justify-content: center;
 }
 input {
   outline: none;
   margin-top: 1rem;
 }
 input::placeholder{
   color: red;
 }
 label {
   font-size: 25px;
 }
 .submit {
   background: green;
   color: white;
   height: 1.7rem;
   width: 7rem;
 }
 .submit:hover {
   background: white;
   color: green;
 }
</style>












